{% extends 'login_base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="card-body p-5 bg-white rounded">
    <h1>Editar Perfil</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('dashboard') }}">Regresar al inicio</a>
</div>
{% endblock %}
